* {
  font-family: Gotham, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  --color-oscuro:#0054a4;
  --color-medio: #007dc3;
  --color-claro: #a4d7f4;
  --color-secundario: #ff9900;
  --color-secundario-claro: #ffc24a;
}
.cabecera
    {
        font-size:1.5em;
        padding: 5px;
        text-align: center;
        color: var(--color-claro);
        background-color: var(--color-oscuro);
        text-decoration: none; 
        text-transform: uppercase; 
        position: relative; /* Asegura que los elementos posicionados dentro de este div se basen en él */
    }
.cabecera img {
      width: 100%;
      height: auto; /* Esto asegura que la altura se ajuste automáticamente para mantener la proporción */
      max-height: 150px;
  }    

.cabecera h1,
.cabecera h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; /* Asegura que el texto esté por encima de la imagen */       
  }
  
  .cabecera h1 {
    font-size: 32px;
    color: var(--color-claro);
    top: 30%;
    margin-bottom: 10px; /* Agrega un margen inferior para separar el h1 del h2 */
  }
  
  .cabecera h2 {
    font-size: 20px;
    color: var(--color-claro);
    top: 60%;
    margin-top: 10px; /* Agrega un margen superior para separar el h2 del h1 */
  }

#subtitulo
    {
        font-size: 1em;
    }

.menu {
  position: fixed;
  width: 100%;
  list-style-type: none;
  top: 75px;
  background-color: var(--color-oscuro);
  text-align: center; /* Añade esta línea para centrar el contenido */
  z-index: 1;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-oscuro);
  display: inline; /* Cambia 'inline-block' a 'inline' para que los elementos estén en línea horizontalmente */
}

.menu li {
  display: inline-block; 
  margin-right: 10px; /* Agrega margen derecho para separar los elementos del menú */
}

.menu li:last-child {
  margin-right: 0; /* Elimina el margen derecho en el último elemento del menú para evitar un espacio adicional */
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--color-oscuro);
}

.menu li a:hover {
  background-color: var(--color-medio);
}

.active {
	background-color: var(--color-secundario);
	border-radius: 10px;
}

h1 {
  position: fixed;
  width: 100%;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    font-size: 40px;
    display: block;
    text-align: center;
    padding: 2%;
    text-shadow: #000000;
    text-transform: uppercase;
}


h2 {
  background-color: var(--color-medio);
  color: var(--color-claro);
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 1%;
  margin-top: 1%;
  }

h3 {
    background-color: var(--color-claro);
    color: var(--color-medio);
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 1%;
    }


p {
  text-align: justify; 
  width: 80%;
  margin: auto;
  padding: 2px;
  }

.cuerpo {
    position: relative;
    top: 175px;
}

ol {
  width: 80%;
  
}

ol li {
  list-style-type: decimal;
  text-align: justify;
  padding-left: 20%;
}
